<template>
    <AddTask v-if="showAddTask" @add-task="addTask" />
    <Tasks :tasks="tasks" @toggle-reminder="toggleReminder" @delete-task="deleteTask" />
</template>

<script>
import Tasks from '../components/Tasks.vue';
import AddTask from '../components/AddTask.vue';

export default {
    name: 'Home',
    components: {
        Tasks,
        AddTask,
    },
    props: {
        showAddTask: Boolean
    },
    data() {
        return {
            tasks: []
        }
    },
    async created() {
        this.tasks = await this.fetchTasks();
    },
    methods: {
        async toggleReminder(id) {
        try {
            const taskToToggle = await this.fetchTask(id);

            if (!taskToToggle) {
                throw new Error('Task not found');
            }

            const updatedTask = { ...taskToToggle, reminder: !taskToToggle.reminder };

            const response  = await fetch(`api/tasks/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedTask)
            });

            const data = await response.json();

            this.tasks = this.tasks
                .map(task => task.id === id ? ({ ...task, reminder: data.reminder }) : task);
        } catch (error) {
            console.error(error);
        }
        },
        async addTask(task) {
            try {
                const response = await fetch('api/tasks', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(task)
                });

                const data = await response.json();
                this.tasks = [...this.tasks, data];
            } catch (error) {
                console.error(error);
            }
        },
        async deleteTask(id) {
            if (confirm('Are you sure?')) {
                try {
                    const response = await fetch(`api/tasks/${id}`, {
                        method: 'DELETE'
                    });

                    if (response.status !== 200) {
                        throw new Error('Error deleting task')
                    }

                    this.tasks = this.tasks.filter(task => task.id !== id);
                } catch (error) {
                    console.error(error);
                }
            }
        },
        async fetchTasks() {
            try {
                const response = await fetch('api/tasks');
                const data = response.json();
                return data;
            } catch (error) {
                console.error(error);
                return [];
            }
        },
        async fetchTask(id) {
            try {
                const response = await fetch(`api/tasks/${id}`);
                const data = response.json();
                return data;
            } catch (error) {
                console.error(error);
                return null;
            }
        }
    }
}
</script>