<template>
    <header>
        <h1>{{ title }}</h1>
        <Button
            v-if="homePage"
            :text="showAddTask ? 'Close' : 'Add Task'"
            :color="showAddTask ? 'red' : 'green'"
            @toggle-add-task="$emit('toggle-add-task')" />
    </header>
</template>

<script>
import Button from './Button.vue'

export default {
    name: 'Header',
    props: {
        title: {
            type: String,
            default: 'Hello, World!'
        },
        showAddTask: Boolean
    },
    components: {
        Button
    },
    computed: {
        homePage() {
            return this.$route.path === '/';
        }
    }
}
</script>

<style scoped>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
</style>